<!DOCTYPE html>
<html xmlns="" lang="zxx">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Peper Bites - Restaurant | Menu</title>

<script src="js/aXeeT3C8FEVE2uMUPMMUDxVnKrs.js"></script><link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/style1.css" rel="stylesheet" type="text/css">
<link href="css/plugin.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/all.min.css">
<link rel="stylesheet" href="fonts/line-icons.css" type="text/css">
</head>
<body style="background:#fff url(images/banner.png);">

<!-- <div id="preloader">
<div id="status"></div>
</div> -->


<header class="main_header_area headerstye-1">

<div class="header_menu">
<nav class="navbar navbar-default">
<div class="container">
<div class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-2 pt-2">

<div class="navbar-header">
<a class="navbar-brand" href="index.html">
<img src="images/logo-white.png" alt="image">
<img src="images/logo.png" alt="image">
</a>
</div>

<div class="navbar-collapse1 d-lg-flex align-items-center" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav" id="responsive-menu">
<li class="dropdown submenu active">
<a href="index.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>

</li>
<li><a href="menu.html">Menu</a></li>
<li class="submenu dropdown">
<a href="about.html" class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">About Us</a>

</li>

<li><a href="contact.html">Contact Us</a></li>
<!-- <li><a href="#search1" class="mt_search"><i class="fa fa-search"></i></a></li> -->
<li><a href="#" class="mt_search"><i class="fa fa-shopping-cart"></i></a></li>
<li><a href="#" class="mt_search menu-ham"><i class="fa fa-user"></i></a></li>
</ul>
<div class="reg-log d-lg-flex align-items-center ml-3">
    <div class="header_sidemenu">
        <div class="menu">
            <div class="close-menu">
                <i class="fa fa-times white"></i>
            </div>
        <div class="m-contentmain">
            <div class="login-content p-4 text-center">
                <div class="login-title section-border">
                    <h3 class="white">Login</h3>
                </div>
                <div class="login-form section-border">
                    <form>
                        <div class="form-group">
                            <input type="email" placeholder="Enter email address">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Enter password">
                        </div>
                    </form>
                    <div class="form-btn">
                        <a href="#" class="nir-btn">LOGIN</a>
                    </div>
                    <div class="form-group form-checkbox mt-3 white">
                        <input type="checkbox"> Remember Me
                        <a href="#" class="float-right white">Forgot password?</a>
                    </div>
                </div>
                <div class="login-social section-border mb-3">
                <p class="mb-2 white">or continue with</p>
                <a href="#" class="btn-facebook"><i class="fab fa-facebook" aria-hidden="true"></i> Facebook</a>
                <a href="#" class="btn-twitter"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>
                </div>
                <div class="sign-up">
                <p class="m-0 white">Do not have an account? <a href="login.html" class="red">Sign Up</a></p>
                </div>
            </div>
        </div>
        </div>
    <!-- <div class="mhead">
    <span class="menu-ham">
    <a href="#" class="nir-btn align-items-center d-flex"> Book A Table</a>
    </span>
    </div> -->
    </div>
</div>
</div>
<div id="slicknav-mobile"></div>
</div>
</div>
</nav>
</div>

</header>


<section class="breadcrumb-main" style="background-image: url(images/bg/bg4.jpg);">
<div class="breadcrumb-outer pt-8">
<div class="container">

</div>
</div>
<div class="overlay"></div>
</section>
<section class="about-detail">
    <div class="container">
    <!-- <div class="about-image mb-4">
    <div class="row d-flex justify-content-between align-items-center">
    <div class="col-md-4 col-sm-4"><img src="images/featured/br-1.jpg" alt=""></div>
    <div class="col-md-4 col-sm-4"><img src="images/featured/we-1.jpg" alt=""></div>
    <div class="col-md-4 col-sm-4"><img src="images/featured/br-2.jpg" alt=""></div>
    </div>
    </div> -->
    <div class="about-detail-content w-75 mx-auto text-center">
    <h4 class="mb-1 red">Cart</h4>
    
    </div>
    </div>
    </section>

<section id="cart-main" class="cart-main " style="padding:1rem 0;">
<div class="container-fluid">
<div class="row">
<div class="col-lg-10 mx-auto">
<div class="cart-inner">
<div class="cart-table-list mb-4">
<div class="order-list">
    <table class="shop_table rt-checkout-review-order-table bg-white">
        <thead>
            <tr>
                <th>S.N</th>
                <th class="product-name">Product Name</th>
                <th class="product-name">Price</th>
                <th class="product-price">Quantity</th>
                <th class="product-quantity">Total</th>
                <th class="product-total"></th>
           
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>01</strong></td>
                
                <td class="cart_item">
                    <span class="product-name"><strong>Flyer's Pizza</strong></span>
                </td>
                <td><span class="rt-Price-amount"><span>$</span>15.00</span></td>
                <td>
                    <span class="quantity-buttons">
                    <input type="number" class="quantity-input" name="quantity" min="1" max="50" value="1">
                </span>
                </td>
                <td class="cart-subtotal">
                    <span class="rt-Price-amount"><span>$</span>15.00</span>
                </td>
                <td class="cart-subtotal">
                    <a href="#" class="nir-btn mt-1" style="background-color: brown;">Remove</a>
                </td>
            </tr>
            <tr>
                <td><strong>02</strong></td>
                
                <td class="cart_item">
                <span class="product-name"><strong>Pizza Express</strong></span>
                </td>
                <td><span class="rt-Price-amount"><span>$</span>35.00</span></td>
                <td>
                <span class="quantity-buttons">
                <input type="number" class="quantity-input" name="quantity" min="1" max="50" value="1">
                </span>
                </td>
                <td class="cart-subtotal">
                <span class="rt-Price-amount"><span>$</span>35.00</span>
                </td>
                <td class="cart-subtotal">
                    <a href="#" class="nir-btn mt-1" style="background-color: brown;">Remove</a>
                </td>
            </tr>
            <tr>
                <td><strong>03</strong></td>
                
                <td class="cart_item">
                <span class="product-name"><strong>Mercy Margarita</strong></span>
                </td>
                <td><span class="rt-Price-amount"><span>$</span>20.00</span></td>
                <td>
                <span class="quantity-buttons">
                <input type="number" class="quantity-input" name="quantity" min="1" max="50" value="1">
                </span>
                </td>
                <td class="cart-subtotal">
                <span class="rt-Price-amount"><span>$</span>20.00</span>
                </td>
                <td class="cart-subtotal">
                    <a href="#" class="nir-btn mt-1" style="background-color: brown;">Remove</a>
                </td>
            </tr>
            <tr>

            </tr>                                    
        </tbody>
    </table>
</div>
</div>
<div class="checkout-order">
    <div class="row">
    <!-- <div class="col-lg-4 col-md-12 col-xs-12 mb-4">
        <div class="coupon">
            <h4 class="white">Coupon Code</h4>
            <label class="white">Enter your coupon code if you have one:</label>
            <input type="text" name="coupon_code" class="input-text mb-2" id="coupon_code" value="" placeholder="Coupon code">
            <a href="#" class="nir-btn-black mr-2">Apply Coupon</a>
            <a href="#" class="nir-btn">Update cart</a>
        </div>
    </div> -->
    
    <div class="col-lg-8 col-Md-12 col-xs-12 mb-4">
        <h4 class="white">Cart Totals</h4>
        <div class="order-list">
            <table class="shop_table rt-checkout-review-order-table bg-white">
                <thead>
                    <tr>
                        <th class="product-name"></th>
                        <th class="product-total">Total</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="cart-subtotal">
                        <th>Subtotal</th>
                        <td><span class="rt-Price-amount"><span>$</span>35.00</span>
                        </td>
                    </tr>
                    <!-- <tr class="rt-shipping-totals shipping">
                    <th>Which do you prefer ?</th>
                    <td data-title="Shipping">
                        
                        <input type="radio" class="mr-1" name="abc"><label class="mr-2 mb-0">Pickup (206, Triq Cospico)</label>
                        <input type="radio" class="mr-1" name="abc"><label class="mb-0">Delivery (Paola Time:30-40 Min)</label>
                    </td>
                    </tr> -->
                    <tr class="order-total">
                        <th>Total</th>
                        <td><strong><span class="rt-Price-amount"><span>$</span>35.00</span></strong> </td>
                    </tr>
                </tfoot>
            </table>
            <div class="checkout-place-order mt-2" style="text-align: center;">
                <p class="white">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="#">privacy policy</a>.
                </p>
                <a href="#" class="nir-btn mt-1" style="float:left; background-color: #676767;"><i class="fa fa-arrow-left" aria-hidden="true" style="padding-right: 3px;"></i>
                    Continue Shopping</a>
                <a href="#" class="nir-btn mt-1" style="background-color: brown;" >Clear Cart</a>
                <a href="#" class="nir-btn mt-1" style="float:right"  data-toggle="modal" data-target="#exampleModalCenter">Proceed to Checkout<i class="fa fa-arrow-right" aria-hidden="true" style="padding-left: 5px;"></i>
                </a>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</section>



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Which do you prefer ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent; color: #000;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="radio" class="mr-1" name="abc"><label class="mr-2 mb-0">Pickup (206, Triq Cospico)</label>
            <input type="radio" class="mr-1" name="abc"><label class="mb-0">Delivery (Paola Time:30-40 Min)</label>
        </div>
        <div class="modal-footer">
          
          <button type="button" class=" nir-btn mt-1">Continue</button>
        </div>
      </div>
    </div>
  </div>


<section class="insta-main p-0">
    <div class="insta-inner">
    <div class="follow-button">
    <h5 class="m-0"><a href="#" title="">Follow on Instagram</a></h5>
    </div>
    <div class="row attract-slider">
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="insta-image">
    <a href="#"><img src="images/insta/ins-1.jpg" alt="insta"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="insta-image">
     <a href="#"><img src="images/insta/ins-2.jpg" alt="insta"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="insta-image">
    <a href="#"><img src="images/insta/ins-3.jpg" alt="insta"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="insta-image">
    <a href="#"><img src="images/insta/ins-4.jpg" alt="insta"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="insta-image">
    <a href="#"><img src="images/insta/ins-5.jpg" alt="insta"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="insta-image">
    <a href="#"><img src="images/insta/ins-6.jpg" alt="insta"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="insta-image">
    <a href="#"><img src="images/insta/ins-7.jpg" alt="insta"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="insta-image">
    <a href="#"><img src="images/insta/ins-8.jpg" alt="insta"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="insta-image">
    <a href="#"><img src="images/insta/ins-4.jpg" alt="insta"></a>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <footer style="background-image:url(images/bg/team-bg.png);" class="pt-10">
        <div class="footer-upper pb-4">
         <div class="container">
        <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
        <div class="footer-links">
        <img src="images/logo-white.png" alt="">
        <p class="mt-3">
        In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna
        </p>
        <ul>
        <li><strong>PO Box:</strong> +47-252-254-2542</li>
        <li><strong>Location:</strong> In ut odio libero, vulputate urna.</li>
        <li><strong>Email:</strong> info@pepperbites.com</li>
        <li><strong>Website:</strong> www.pepperbites.com</li>
        </ul>
        </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 mb-4">
        <div class="footer-links">
        <h4 class="white">Company</h4>
        <ul>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="#">Delivery Information</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Return Policy</a></li>
        </ul>
        </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 mb-4">
        <div class="footer-links">
        <h4 class="white">Opening Hours</h4>
        <ul>
        <li class="d-flex align-items-center justify-content-between"><div class="day">MONDAY</div> <div class="time">9.00 - 22.00</div> </li>
        <li class="d-flex align-items-center justify-content-between"><div class="day">TUESDAY</div> <div class="time">9.00 - 22.00</div> </li>
        <li class="d-flex align-items-center justify-content-between"><div class="day">SATURDAY</div> <div class="time">9.00 - 22.00</div> </li>
        <li class="d-flex align-items-center justify-content-between"><div class="day">SUNDAY</div> <div class="time">9.00 - 22.00</div> </li>
        </ul>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
        <div class="footer-links">
        <h4 class="white">Newsletter</h4>
        <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
        <div class="newsletter-form">
        <form>
        <input type="email" placeholder="Enter your email">
        <input type="submit" class="nir-btn mt-2 w-100" value="Subscribe">
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="footer-copyright">
        <div class="container">
        <div class="copyright-inner d-md-flex align-items-center justify-content-between">
        <div class="copyright-text">
        <p class="m-0 white">2021 Pepper Bites. All rights reserved. | Powered by <a href="https://crioweb.in/"> Crioweb </a></p>
        </div>
        <div class="social-links">
        <ul>
        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        <div class="overlay"></div>
        <div class="mid-overlay"></div>
        </footer>
        
        
        <div id="back-to-top">
        <a href="#"></a>
        </div>
        
        
        <div id="search1">
        <button type="button" class="close">×</button>
        <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </div>
        <script src="js/combining.js"></script>
        <script data-cfasync="false" src="js/email-decode.min.js"></script><script src="js/jquery-3.4.1.min.js" type="fe30fae50da27027b896fb64-text/javascript"></script>
        <script src="js/bootstrap.min.js" type="fe30fae50da27027b896fb64-text/javascript"></script>
        <script src="js/plugin.js" type="fe30fae50da27027b896fb64-text/javascript"></script>
        <script src="js/custom-date.js" type="fe30fae50da27027b896fb64-text/javascript"></script>
        <script src="js/main.js" type="fe30fae50da27027b896fb64-text/javascript"></script>
        <script src="js/custom-swiper.js" type="fe30fae50da27027b896fb64-text/javascript"></script>
        <script src="js/custom-nav.js" type="fe30fae50da27027b896fb64-text/javascript"></script>
        <script src="js/custom-date.js" type="fe30fae50da27027b896fb64-text/javascript"></script>
        <script src="js/rocket-loader.min.js" data-cf-settings="fe30fae50da27027b896fb64-|49" defer=""></script>
        <script src="js/search.js"></script>
        
    </body>
    </html>